

{{# each products}}
  <div class="row">
    {{# each this}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{this.imagePath}}" alt="unicorn cake" class="img-responive">
          <div class="caption">
            <h3>{{this.title}}</h3>
            <p class="description">{{this.description}}</p>
              <div class="clearfix">
                  <div class="price pull-left"><h1></h1></div>
                  <a href="/cart5/{{this.id}}" class="btn btn-success btn-default pull-right" role="button">Purchase</a>
              </div>
          </div>
        </div>
      </div>
    {{/each}}
{{/each}}